body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.point {
  stroke: none;
}
.d3-tip {
  line-height: 1;
  padding: 12px;                     /*font weight: bold*/
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 1%;
}

.d3-tip_1 {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip_1:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip_1.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 1%;
}
 .tick text{
    font-size: 12px;
	opacity : 1;
}

.tick line{
    opacity: 1;
	color : black ;
}
form {
  position: absolute; 
  right: 50px;         /* Change position of button */
  top: 20px;
  
 
}
.radio1{
	
	color:#fc8d59;
}
.radio2{
	color:#91cf60;
}
.line{
	stroke:black;
	stroke-width:1;
}