	html{
		font-family: 'Roboto', sans-serif;
		letter-spacing: 1.5px;
	}

	body{
		background: #007bff;
  		background: linear-gradient(to right, #b92b27, #1565C0);
	}

	.jumbotron{
		padding-top: 3%;
		padding-bottom:3%;
		font-family: 'Roboto', sans-serif;
	}

	.container{
		margin-top:-4.15%;
	}

	.sectionHeaders{
		text-align: center;
		color:white;
		letter-spacing: 3px;
	}

	.card-header{
		background-color: #fff;
	}

	#profile-container {
	    width: 175px;
	    height: 175px;
	    overflow: hidden;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 50%;
	    border-width: 5px;
	    border:8px solid #4568dc;
	    cursor: pointer;
	}

	.total{
		background:linear-gradient(to right, #ffafbd, #ffc3a0);
		overflow: hidden;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 25px;
	    border-width: 5px;
	    padding:10px;
	    margin-top:6px;
	    width:50%;
	    margin-left:25%;
	    color:darkblue;
	    letter-spacing: 3px;
	    border:2px solid #dd2476;
	}

	#fullName, #dob, #age, #address, #isPremiumMem{
		color:darkslateblue;
	}

	#fullName{
		font-size:25px;
	}

	#dob, #age, #address, #isPremiumMem{
		font-size:15px;
	}

	.faColor{
		color:#b06ab3;
	}

	img{
		position:relative;
		right:6px;
	}

	tbody{
		font-size:15px;
	}

	#imgAndName:hover{
		box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
	}

	#otherDetails:hover{
		box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
	}

	@keyframes fadein {
	  from {bottom: -30px; opacity: 0;}
	  to {bottom: 0px; opacity: 1;}
	}